<!-- ======= TopBar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      <i class="fa-solid fa-phone d-flex align-items-center"><span>+15 99123-4567</span></i>
      <i class="fa-solid fa-clock d-flex align-items-center ms-4"><span> Seg-Sab: 10AM - 23PM</span></i>
    </div>
  </div>
</div>
<!-- ======= End TopBar ======= -->

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="index.html">Barbearia do Lucas Montagens</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#events">Quem somos</a></li>
        <li><a class="nav-link scrollto" href="#chefs">Barbeiros</a></li>
        <li><a class="nav-link scrollto" href="#specials">Produtos e serviços</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Galeria</a></li>
      </ul>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Bem-vindo à <br> <span>Barbearia do Lucas Montagens!</span></h1>
        <h2>Lucas e suas montagens capilares!</h2>

        <div class="btns">
          <a href="#specials" class="btn-menu animated fadeInUp scrollto">Nossos serviços</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2></h2>
        <p>Quem somos</p>
      </div>

      <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="assets/img/logo-linda.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Cortes feitos com a maior montagem</h3>
                <div class="price">
                  <p><span>Cabelo</span></p>
                </div>
                <p class="fst-italic">
                  Apoiamos a calvície
                </p>
                <ul>
                  <li><i class="bi bi-check-circled"></i>Viemos com o objetivo de montar o cabelos das pessoas de formas
                    glamurosas e montadas, independente de seu tipo, formato, cor, gênero, pessoa, cabelo, couro
                    cabeludo, mechas e mais!!!</li>
                  <li><i class="bi bi-check-circled"></i>Temos técnicas renovadoras de montagem. Montagem diversificada
                    para cada cliente cabeludo ou careca.</li>
                  <li><i class="bi bi-check-circled"></i>Amamos à montagem.</li>
                  <li><i class="bi bi-check-circled"></i>Viva Lucas Montagens!!!</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
          <!-- ======= Chefs Section ======= -->
          <section id="chefs" class="chefs">
            <div class="container" data-aos="fade-up">

              <div class="section-title">
                <h2>Barbeiros</h2>
                <p>Nossos profissionais montados com cualidade</p>
              </div>

              <div class="row">

                <div class="col-lg-4 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <img src="assets/img/barbeiros/lucas-montagens.jpeg" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>Lucas Montagens</h4>
                        <span>Dono</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/barbeiros/isa-raqueoulhe.jpeg" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>isa raqueou-lhe</h4>
                        <span>Sócia</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/barbeiros/joao-baianagens.jpeg" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>João Baianagens</h4>
                        <span>Baiano</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/barbeiros/vic-benficagens.jpeg" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>Victoria Benficagens</h4>
                        <span>Barbeira</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/barbeiros/whindersson-nunes.jpeg" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>Whindersson Nunes</h4>
                        <span>Corno</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/barbeiros/rei-do-kuduairo.png" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>Rei do Kuduairo</h4>
                        <span>Angolano</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </section>
          <!-- End Chefs Section -->

          <!-- ======= Specials Section ======= -->
          <section id="specials" class="specials">
            <div class="container" data-aos="fade-up">

              <div class="section-title">
                <h2>Produtos e serviços</h2>
                <p>Análise nossos Produtos e serviços</p>
              </div>

              <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3">
                  <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                      <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modelagem</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " data-bs-toggle="tab" href="#tab-2">Hidratação de fios </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Cura da calvície</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Corte inspirado no The Rock</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Carinho </a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                  <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3><i>Modelamos teu cabelo de formas inimagináveis</i></h3>
                          <p class="fst-italic">Sabe quando você tem um desejo enorme de MODELAR A SUA
                            CABELEIRA?????????????!!!!!</p>
                          <p>Fazemos exatamente isso pra você :)</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="../assets/img/servicos/modela.jpg" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3><i>Hidratamos o seu fio...com água</i></h3>
                          <p class="fst-italic">gostaro?</p>
                          <p>A maneira que seus fios secos, desérticos, que ficaram tomando sol durante as férias de
                            verão, sem lavar por 5 meses, espetados igual uma pinha, nós conseguimos com nossa ultra
                            tecnologia o hidratar...nosso segredo?</p>
                          <p>água</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="../assets/img/servicos/awa.jpg" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3><i>A calvície não é um problema...é uma doença</i></h3>
                          <p class="fst-italic">Apoiamos a calvície</p>
                          <p>Podemos observar hoje em nossa atualidade contemporânea, jovens muito jovens já calvos,
                            como por exemplo: observe os bebês, tão jovens...</p>
                          <p>Com nossa receita secreta de modelagem, podemos fazer muitas coisas com sua calvície de
                            maneiras que você nunca imagina.</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="../assets/img/servicos/miniarrocha.jpg" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3><i>Inspirado no The Rock (vulgo A rocha)</i></h3>
                          <p class="fst-italic">Um dos maiores influenciadores, atores, cantores, barra, academia,
                            pedra, jumanji da internet, A rocha.</p>
                          <p>Com todo a sua inspiração criamos um penteado inspirado em sua beleza e maioridade, <i>A
                              rocha</i> é um penteado que demonstra todo o profissionalismo e
                            formosura de um homem! Viva <i>A rocha</i>!</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="../assets/img/servicos/arrocha.jpg" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3><i>Amor para sua CABELEIRA</i></h3>
                          <p class="fst-italic">sim</p>
                          <p>Sua cabeleira merece amor e carinho para que consiga sorrir feliz em sua modelagem.
                            Observamos em uma pesquisa feita durante 1
                            dia que nosso cliente (e barbeiro, mas isso não precisa ser falado), Kuduairo, disse que a
                            barbeira Vic Benficagens ficou de parabuains pelo seu trabuairo,
                            assuaim, nos aprimoruaimos desta técnica secrueta em nuaisso trabuairo modeluado (não foi
                            Kuduairo que digituou isto).</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="../assets/img/servicos/bveijo.png" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>
          <!-- End Specials Section -->

          <!-- ======= Gallery Section ======= -->
          <section id="gallery" class="gallery">

            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>Galeria</h2>
                <p>Algumas fotos de nossas maravilhosas montagens em nosso perfeito barbeiroaria</p>
                <h6>(encontre a verdadeira)</h6>
              </div>
            </div>

            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

              <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira2.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira3.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira4.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira5.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira6.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira7.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item">
                    <a href="../assets/img/galeria/cadeira8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                      <img src="../assets/img/galeria/cadeira8.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>

              </div>

            </div>
          </section><!-- End Gallery Section -->
        </div>
      </div>
    </div>
  </section>



  <section id="Clientes" class="clientes">
    <div class="container" data-aos="fade-up">
    <div class="section-title">
      <p>Lista de Clientes</p>
    
    <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="container  text-center">
        <table class="table-dark" >
          <thead>
            <tr>
              <th scope="col"># Fila</th>
              
              <th scope="col">Nome</th>
            <br>
              <th scope="col">Serviço</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let c of fila; let i = index'>
              <th scope="row">{{i+1}}</th>
              <td>{{c.cliente}}</td>
              <br>
              <td>{{c.servico == 0 ? 'Cabelo' :(c.servico == 1 ? 'Barba' : 'Combo') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  </section>


</main>